.services-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.services-container h2 {
  font-family: "Aleo";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.1em;

  margin-bottom: 1rem;
}

.services-cards-container {
  display: grid;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1036px;

  gap: 2rem;

  grid-template-columns: repeat(4, 1fr);
}

.services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #323232;

  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

  /* height: 21vmax; */
  padding: 3vmax 1vmax;
}

.services-card img {
  height: 8vmax;
}

.services-card p {
  text-align: center;

  font-family: "Aleo";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5em;
  white-space: nowrap;

  margin-top: 2.5em;
}

@media screen and (max-width: 640px) {
  .services-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
