.services-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.services-cards-container {
  display: grid;
  align-items: center;
  flex-wrap: wrap;

  gap: 1.5rem;

  grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
}

.services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #323232;

  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 3vmax 1vmax;
}

.services-card img {
  height: 7vmax;
}

.services-card p {
  text-align: center;

  font-family: "Aleo";
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.5em;
  white-space: nowrap;

  margin-top: 2.5em;
}
