* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Roboto;

  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  background-color: #202020;
  color: #e5e6e0;

  height: 100%;
}

.yellow {
  color: #ffc412;
}

.section-padding {
  padding: 50px 100px;
}

@media screen and (max-width: 1024px) {
  .section-padding {
    padding: 50px 52px;
  }
}

@media screen and (max-width: 480px) {
  .section-padding {
    padding: 50px 32px;
  }
}
