.pagelinks-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 457px;
  height: 100dvh;

  margin: 0 auto;
}

.pagelinks-heading-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pagelinks-heading-container img {
  border-radius: 20px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

  width: 110px;
  height: 110px;
}

.pagelinks-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pagelinks-title-container h1 {
  font-family: "Aleo";
  font-weight: 700;
  font-size: 72px;
  line-height: 64px;

  color: #ffffff;
}

.pagelinks-title-container span {
  color: #ffc412;
}

.pagelinks-jobtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  background-color: #ffc412;

  width: 152px;
  height: 24px;
}

.pagelinks-jobtitle-container p {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

.pagelinks-links-container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.pagelinks-links-container button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: none;
  border: 2px solid #e5e6e0;
  border-radius: 16px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;

  height: 60px;
  margin: 2rem 0 1rem;

  transition: ease-in-out 100ms;
}

.pagelinks-links-container button:hover {
  opacity: 0.7;
}

.pagelinks-links-container button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.pagelinks-socialLinks-container {
  display: flex;
  justify-content: space-between;
}

.pagelinks-socialLinks-container img {
  width: 50px;
  height: 50px;
  transition: transform ease-in-out 100ms;
}

.pagelinks-socialLinks-container img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  .pagelinks-main-container {
    width: 212px;
  }

  .pagelinks-heading-container {
    align-items: center;
    flex-direction: column;
  }

  .pagelinks-heading-container img {
    width: 100%;
    height: 100%;
  }

  .pagelinks-title-container {
    align-items: center;
    margin: 2rem 0 1rem;
  }

  .pagelinks-title-container h1 {
    font-size: 55px;
    line-height: 55px;
  }

  .pagelinks-socialLinks-container {
    flex-wrap: wrap;
  }

  .pagelinks-socialLinks-container a {
    margin-bottom: 16px;
  }

  .pagelinks-socialLinks-container img {
    width: 60px;
    height: 60px;
  }
}
