
.pagelinks-main-container {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 384px;
  height: 100dvh;

  gap: 1.5rem;

  margin: 0 auto;
}

.pagelinks-heading-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pagelinks-heading-container img {
  border-radius: 20px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

  width: 110px;
  height: 110px;
}

.pagelinks-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 0.5em;
}

.pagelinks-title-container p {
  font-size: 0.9rem;
  line-height: 16px;
  text-align: center;
  cursor: text;

  color: #000000;
}

.pagelinks-title-container p:hover {
  opacity: 1;
}

.pagelinks-links-container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.pagelinks-main-container button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #323232;
  border: none;
  border-radius: .5em;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;

  height: 60px;
  width: 100%;

  transition: ease-in-out 100ms;
}

.pagelinks-main-container button:hover {
  opacity: 0.7;
  transform: scale(1.07);
}

.pagelinks-main-container button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.pagelinks-socialLinks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;  
}

.pagelinks-socialLinks-container img {
  width: 50.6px;
  /* width: 100%; */
  transition: transform ease-in-out 100ms;
}

.pagelinks-socialLinks-container img:hover {
  transform: scale(1.07);
}

@media screen and (max-width: 480px) {
  .pagelinks-main-container {
    width: 212px;
  }

  .pagelinks-heading-container {
    align-items: center;
    flex-direction: column;
  }

  .pagelinks-heading-container img {
    width: 100%;
    height: 100%;
  }

  .pagelinks-title-container {
    align-items: center;
    margin: 2rem 0 1rem;
  }

  .pagelinks-title-container h1 {
    font-size: 55px;
    line-height: 55px;
  }

  .pagelinks-socialLinks-container img {
    width: 60px;
    height: 60px;
  }
}

