.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100dvh;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 500px;
}

.header-title-container p {
  color: #323232;
  background-color: #ffc412;

  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.1em;

  border-radius: 50px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

  padding: 0.5em 1.5em;
}

@media screen and (max-width: 480px) {
  .header-title-container {
    width: 300px;
  }
}
