.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100dvh;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
}

.header-title-container h1 {
  font-family: "Aleo";
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 1.1em;

  text-align: center;
}

.header-title-container p {
  color: #323232;
  background-color: #ffc412;

  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.1em;

  border-radius: 50px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

  padding: 0.5em 1.5em;
}

@media screen and (max-width: 480px) {
  .header-title-container {
    width: 250px;
  }

  .header-title-container h1 {
    font-size: 3.75rem;
  }
}
