.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
}

.header-title-container h1 {
  font-family: "Aleo";
  font-weight: 700;
  font-size: 86px;
  line-height: 90px;

  text-align: center;
}

.header-title-container p {
  color: #323232;
  background-color: #ffc412;

  font-family: "Roboto";
  font-size: 20px;
  line-height: 23px;

  border-radius: 50px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

  padding: 8px 24px;
}

@media screen and (max-width: 768px) {
  .header-title-container {
    width: 350px;
  }

  .header-title-container h1 {
    font-size: 74px;
    line-height: 78px;
  }

  .header-title-container p {
    font-size: 16px;
    line-height: 20px;
    padding: 4px 20px;
  }
}

@media screen and (max-width: 480px) {
  .header-title-container {
    width: 250px;
  }

  .header-title-container h1 {
    font-size: 56px;
    line-height: 60px;
  }

  .header-title-container p {
    font-size: 16px;
    line-height: 20px;
    padding: 4px 16px;
  }
}
